.slidercontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.slidercontainer img{
    object-fit: cover;
    width: 100%;
    height: 50vh;
}
.slidetext{
    font-family: "Archivo Black", sans-serif;
    font-weight: bolder;
    height: 0;
    position: absolute;
    color: #b8b3b3;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: xx-large;
}

.slidetext span{
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    color:#b8b3b3;

}
#titulo {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    color: #b8b3b3;

}
.boxblack{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: ease-in-out 0.5s;
    bottom: 0;
}
.slidercontainer:hover .boxblack {
    opacity: 0.5;
    height: 100%;
    transition: ease-in-out 0.5s;
}

.slidercontainer:hover .slidetext {
    margin-bottom: 1rem;
    opacity: 1;
    height: 40%;
    transition: ease-in-out 0.5s;
}

.sliderbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: -20x;
  color: #b8b3b3;

}

.sliderbutton button {
  background-color: transparent; /* Cambia este color según tu diseño */
  color: #fff; /* Cambia este color según tu diseño */
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.sliderbutton button:hover {
  background-color: transparent; /* Cambia este color según tu diseño */
}


@media only screen and (max-width: 800px) {
    .slidetext{
        display:flex;
        flex-direction: column;
        transition: ease-in-out 0.5s;
        font-size: 10px;
        width: 100%;
    }
    .slidercontainer img{
        height: 30vh;
    }
    .slidercontainer:hover .slidetext {
        opacity: 1;
        transition: ease-in-out 0.5s;
    }

}